@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fefefe;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* globals.css */
html, body {
  scroll-behavior: smooth; /* nonaktifkan agar tidak konflik dengan JS */
  overscroll-behavior: none;
  overflow-x: hidden;
}

